* {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background-color: #c5c5c5;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 10px 0 0 0;
}

h2 {
  margin: 0 0 20px 0;
}

a {
  text-decoration: none;
}

#container {
  max-width: 600px;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 10px;
  margin: 25px;
}

#header,
.body,
#footer {
  width: 100%;
}

#header td,
#footer td {
  text-align: left;
}

.body {
  text-align: left;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.body th,
.body td {
  border: solid 1px #595859;
  padding: 10px;
}

.body th {
  width: 140px;
  background-color: #f8f7f8;
}

.vertical-table th {
  border-left: none;
}

.vertical-table td {
  border-right: none;
}

#footer {
  margin-bottom: 10px;
}

#footer a {
  font-size: 12px;
}
